<div class="navbar-item brand">
	<!-- <button class="menu-button"><i class="fa fa-bars"></i></button> -->
	<a class="title" href="https://rocket.chat">
		<img class="logo" src="{{rootPath}}/assets/logo.png"> Rocket.Chat
	</a>
</div>
<div class="navigation">
	<a class="nav-link" href="https://demo.rocket.chat/" target="_blank">Demo</a>
	<a class="nav-link" href="https://rocket.chat/features">Features</a>
	<a class="nav-link" href="https://rocket.chat/team">Team</a>
	<a class="nav-link active" href="https://rocket.chat/docs">Docs</a>
	<a class="nav-link" href="https://rocket.chat/blog">Blog</a>
	<a class="nav-link" href="https://rocket.chat/download">Download</a>
	<a class="nav-link" href="https://rocket.chat/contact">Contact</a>
</div>
